<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-xs-12 col-md-2">
                <small>Fecha de inicio</small>
                <input id="beginDate" autocomplete="off" class="datepicker form-control" data-date-format="dd/mm/yyyy">
            </div>
            <div class="col-xs-12 col-md-2">
                <small>Fecha fin</small>
                <input id="endDate" autocomplete="off" class="datepicker form-control" data-date-format="dd/mm/yyyy">
            </div>
            <div class="col-xs-12 col-md-6">
                <small>Buscar por colaborador</small>
                <input id="employeeSearchInput" class="form-control" placeholder="Escribir el nombre del colaborador" />
            </div>
            <div class="col-xs-12 col-md-1">
                <button id="search" style="margin-top:20px; padding:5px;padding-bottom:8px" class="btn btn-block btn-primary">
                    <i class="icon-search4"></i>
                </button>
            </div>
        </div>
        <hr />
        <div id="loading" style="display:none;text-align:center">
            <img src="~/Images/bigLoading.gif" width="45" />
        </div>
        <div id="result" style="display:none">

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var employeeId = 0;
        $('.datepicker').datepicker({
            dateFormat: 'dd/mm/yy'
        });

        $('#search').click(function () {
            var beginDate = $('#beginDate').val();
            var endDate = $('#endDate').val();
            $('#loading').show();
            $('#result').hide();
            $.ajax({
                url: '/Report/GetWorkDays?beginDate=' + beginDate +
                     '&endDate=' + endDate + '&employeeId='+ employeeId,
                type: 'GET',
                success: function (data) {
                    $('#result').html('');
                    $('#result').html(data);
                    $('#result').show();
                    $('#loading').hide();
                }
            });
        });

        $('#employeeSearchInput').autocomplete({
            minChars: 1,
            source: function (request, response) {
                $.getJSON('/Employee/GetEmployeesForAutoComplete/', { query: request.term }, function (data) {
                    console.log(data);
                    if (data.length > 0) {
                        response($.map(data, function (value, key) {
                            return {
                                label: value.Name,
                                value: value.Id
                            }
                        }));
                    }
                });
            },
            select: function (event, ui) {
                $('#noClientFoundParcel').hide();
                employeeId = ui.item.value;
                $('#clientSearchInputForParcelNew').val(ui.item.label);
                $('#employeeSearchInput').val(ui.item.label);
                return false;
            }
        });

    });
</script>

