<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Residencial Casa Blanca</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap_limitless.min.css" rel="stylesheet" />
    <link href="~/Content/layout.min.css" rel="stylesheet" />
    <link href="~/Content/components.min.css" rel="stylesheet" />
    <link href="~/Content/colors.min.css" rel="stylesheet" />
    <link href="~/Content/auto-complete.css" rel="stylesheet" />
    <link href="~/Content/icomoon/styles.css" rel="stylesheet" />
    <link href="~/Content/summernote.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Content/datetimepicker.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/auto-complete.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="~/Scripts/datetimepicker.js"></script>
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-light">
        <div style="text-align:center;padding-top:5px;padding-bottom:5px">
            <img src="~/Images/AltLogo.png" width="150" />
        </div>
        <div style="padding-top:30px;text-align:right">
            @if (User.Identity.IsAuthenticated)
            {
                <a class="btn-sm btn-light btn-outline" href="/Employee/Index">List</a>
                
                <a class="btn-sm btn-primary" href="/Employee/ListForAdmin">Admin</a>
            }
            else
            {
                <a href="/Account/Login">Login</a>
            }
        </div>
    </div>

    <div class="page-content">
        <div class="content-wrapper" style="background-color: #F5F5F5">
            <div class="content">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
